/* Breakpoints */
/* Main Media Queries */
/* Portrait / Landscape */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/* Base URL */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  font-size: 100%;
  overflow-x: hidden;
  min-width: 320px;
  font-family: 'Roboto', sans-serif, helvetica, arial;
}
html {
  overflow-y: scroll;
}
body {
  color: #00001c;
  background-color: #ffffff;
}
@media screen and (min-width: 992px) {
  header {
    height: auto;
  }
}
.all-wrapper {
  overflow-x: hidden;
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
}
.wrapper {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../fonts/roboto-bold.eot');
  src: url('../fonts/roboto-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-bold.woff') format('woff'), url('../fonts/roboto-bold.ttf') format('truetype'), url('../fonts/roboto-bold.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular.eot');
  src: url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular.ttf') format('truetype'), url('../fonts/roboto-regular.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
html.popup-opened {
  height: 100%;
}
.all-wrapper section {
  width: 100%;
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.all-wrapper section.full-width {
  max-width: 100%;
  padding: 0;
}
.all-wrapper h2 {
  font-family: 'Roboto Bold', sans-serif, helvetica, arial;
  color: #343f6a;
  line-height: 1.12;
  font-size: 30px;
  position: relative;
}
@media screen and (min-width: 640px) 	and (max-width: 991px) {
  .all-wrapper h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 992px) {
  .all-wrapper h2 {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .all-wrapper h2 {
    font-size: 50px;
  }
}
.all-wrapper h4 {
  text-transform: none;
  line-height: 1.2;
  color: #343f6a;
  font-size: 16px;
  font-weight: bolder;
  margin-bottom: 25px;
}
@media screen and (min-width: 992px) {
  .all-wrapper h4 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: normal;
  }
}
.all-wrapper p,
.all-wrapper li {
  color: #a6a6a6;
  line-height: 1.5;
  font-size: 14px;
}
@media screen and (min-width: 992px) {
  .all-wrapper p,
  .all-wrapper li {
    line-height: 1.5;
    font-size: 16px;
  }
}
.all-wrapper a {
  color: #343f6a;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: underline;
}
@media screen and (min-width: 992px) {
  .all-wrapper a {
    line-height: 1.5;
    font-size: 16px;
  }
}
.all-wrapper .button {
  -webkit-transition: all 0.25s ease 0ms;
  -moz-transition: all 0.25s ease 0ms;
  -o-transition: all 0.25s ease 0ms;
  transition: all 0.25s ease 0ms;
  display: inline-block;
  font-size: 16px;
  padding: 8px 20px;
  line-height: 20px;
  border-radius: 2px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: none;
}
.all-wrapper .button.red {
  background: #ce1a38;
}
.all-wrapper .button.red:hover {
  background-color: #b90d29;
}
.go-top {
  display: none;
  position: fixed;
  text-align: center;
}
.go-top i {
  line-height: 38px;
  color: white;
}
@media screen and (min-width: 992px) {
  .go-top {
    -webkit-transition: all 0.25s ease 0ms;
    -moz-transition: all 0.25s ease 0ms;
    -o-transition: all 0.25s ease 0ms;
    transition: all 0.25s ease 0ms;
    box-shadow: 0px 0px 3px 1px rgba(1, 1, 1, 0.4);
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #343f6a;
  }
  .go-top:hover {
    background-color: #2c3559;
  }
}
.main-header {
  width: 100%;
  height: 56px;
  background: #343f6a;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.28);
  position: fixed;
  top: 0;
  z-index: 10000;
}
.main-header section {
  *zoom: 1;
}
.main-header section:before,
.main-header section:after {
  content: "";
  display: table;
  border-spacing: 0;
}
.main-header section:after {
  clear: both;
}
.main-header .header-logo {
  float: left;
  padding-left: 5px;
  line-height: 56px;
}
.main-header .header-logo .header-main-logo {
  position: relative;
  height: 30px;
  color: rgba(255, 255, 255, 0.8);
  background-repeat: no-repeat;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.main-header .header-logo .header-main-logo .icon-header-logo {
  position: absolute;
  width: 38px;
  height: 30px;
  left: 0px;
}
.main-header .header-navigation {
  float: right;
  margin-left: 8.17%;
}
.main-header .header-navigation .navigation-list {
  list-style: none;
  font-size: 0;
}
@media screen and (max-width: 639px), screen and (min-width: 640px) 	and (max-width: 991px) {
  .main-header .header-navigation .navigation-list .header-navigation-item {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    text-align: center;
    font-size: 0px;
    line-height: 0px;
    -webkit-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 70ms cubic-bezier(0, 0.995, 0.99, 1);
  }
  .main-header .header-navigation .navigation-list .header-navigation-item a.header-navigation-link {
    font-size: 0;
    color: #00001c;
    font-weight: bolder;
    width: 100%;
  }
}
.main-header .header-navigation .navigation-list .header-navigation-item.animate {
  display: block;
  font-size: 22px;
  line-height: 56px;
  width: 100%;
  opacity: 1;
  z-index: 1;
  -webkit-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
  -o-transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 150ms cubic-bezier(0, 0.995, 0.99, 1);
}
.main-header .header-navigation .navigation-list .header-navigation-item.animate a.header-navigation-link {
  font-size: 18px;
}
.main-header .header-navigation .navigation-list .header-navigation-item.animate:nth-of-type(1) {
  top: 100px;
  transition-delay: 0.0s;
}
.main-header .header-navigation .navigation-list .header-navigation-item.animate:nth-of-type(2) {
  top: 158px;
  transition-delay: 0.03s;
}
.main-header .header-navigation .navigation-list .header-navigation-item.animate:nth-of-type(3) {
  top: 216px;
  transition-delay: 0.06s;
}
.main-header .header-navigation .navigation-list .header-navigation-item.animate:nth-of-type(4) {
  top: 274px;
  transition-delay: 0.09s;
}
.main-header .header-navigation .navigation-list .header-navigation-item.animate:nth-of-type(5) {
  top: 332px;
  transition-delay: 0.12s;
}
.main-header .header-navigation .navigation-list .header-navigation-item.animate:nth-of-type(6) {
  top: 490px;
  transition-delay: 0.15s;
}
.main-header .header-navigation .navigation-list .header-navigation-item:last-child {
  padding-right: 0;
}
@media screen and (min-width: 992px) {
  .main-header .header-navigation .navigation-list .header-navigation-item {
    display: inline-block;
    padding-right: 40px;
    margin-left: 0;
  }
}
.main-header .header-navigation .navigation-list .header-navigation-item .header-navigation-link {
  color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  height: 56px;
  line-height: 56px;
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}
@media screen and (min-width: 992px) {
  .main-header .header-navigation .navigation-list .header-navigation-item .header-navigation-link:hover {
    opacity: 1;
    color: #bbebe9;
  }
}
@media screen and (min-width: 992px) {
  .main-header .header-navigation .navigation-list .header-navigation-item .active {
    border-bottom-color: #bbebe9;
    color: #bbebe9;
  }
}
@media screen and (max-width: 639px), screen and (min-width: 640px) 	and (max-width: 991px) {
  .main-header .hamburger {
    width: 56px;
    height: 56px;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
    padding: 15px;
    z-index: 1;
  }
  .main-header .hamburger span.x,
  .main-header .hamburger span.y,
  .main-header .hamburger span.z {
    position: absolute;
    display: block;
    top: 0px;
    bottom: 0px;
    background: #ffffff;
    border-radius: 2px;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .main-header .hamburger span.x,
  .main-header .hamburger span.y,
  .main-header .hamburger span.z {
    height: 3px;
    width: 26px;
  }
  .main-header .hamburger span.x {
    top: 18px;
  }
  .main-header .hamburger span.y {
    top: 26px;
  }
  .main-header .hamburger span.z {
    top: 34px;
  }
  .main-header .hamburger span.collapse {
    top: 26px;
    background: #343f6a;
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out;
  }
  .main-header .hamburger span.rotate30 {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
  }
  .main-header .hamburger span.rotate150 {
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
  }
  .main-header .hamburger span.rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
  }
  .main-header .hamburger span.rotate135 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
  }
  .main-header div.circle {
    border-radius: 50%;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 26px;
    right: 26px;
    background: #fff;
    opacity: 1;
    -webkit-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 300ms cubic-bezier(0, 0.995, 0.99, 1);
  }
  .main-header div.circle.expand {
    width: 3000px;
    height: 3000px;
    top: -1400px;
    right: -1405px;
    -webkit-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    -moz-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    -ms-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    -o-transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
    transition: all 400ms cubic-bezier(0, 0.995, 0.99, 1);
  }
}
@media screen and (max-width: 639px) and screen and (min-width: 992px), screen and (min-width: 640px) 	and (max-width: 991px) and screen and (min-width: 992px) {
  .main-header .hamburger {
    display: none;
  }
}
.about .about-container {
  padding-top: 50px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}
.about .info-container {
  font-size: 0;
  margin: 0 -20px;
}
.about .info-container .info {
  vertical-align: top;
  font-size: 20px;
  display: inline-block;
  width: 100%;
  padding: 20px 20px;
}
@media screen and (min-width: 639px) {
  .about .info-container .info {
    width: 33%;
    padding: 0 20px;
  }
}
.about .info-container .logo {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #343f6a;
}
.about .info-container .logo i {
  color: #bbebe9;
  line-height: 100px;
  font-size: 40px;
}
.controls {
  *zoom: 1;
  background: #343f6a;
}
.controls:before,
.controls:after {
  content: "";
  display: table;
  border-spacing: 0;
}
.controls:after {
  clear: both;
}
.controls .controls-container {
  max-width: 1224px;
  padding: 0 20px 40px 20px;
  margin: 0 auto;
  text-align: center;
}
.controls .controls-container h2 {
  color: rgba(255, 255, 255, 0.8);
}
.controls .controls-container .controls-img {
  margin: 0 auto;
  background: url("../img/controls.png") no-repeat;
  background-size: contain;
  width: 100%;
  padding-top: 35%;
}
.screenshots h2 {
  text-align: center;
}
.screenshots .img-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  text-align: center;
  padding: 0 20px;
}
.screenshots .img-wrapper .images {
  margin: 0 -10px 40px -10px;
  font-size: 0;
}
.screenshots .img-container {
  display: inline-block;
  width: 31.6%;
  padding-top: 15.8%;
  margin: 10px;
}
.screenshots .img-container:hover {
  cursor: pointer;
}
.img-container {
  background-size: cover;
}
.img1 {
  background-image: url("../img/screen1.png");
}
.img2 {
  background-image: url("../img/screen2.png");
}
.img3 {
  background-image: url("../img/screen3.png");
}
.img4 {
  background-image: url("../img/screen4.png");
}
.img5 {
  background-image: url("../img/screen5.png");
}
.img6 {
  background-image: url("../img/screen6.png");
}
.popup-wrapper {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10001;
}
.popup-wrapper .img-container {
  width: 100%;
  padding-top: 50%;
  display: none;
}
.popup-wrapper .active {
  display: block;
}
.popup-wrapper .popup-container {
  margin: 0 auto;
  max-width: 1224px;
  width: 100%;
  top: 54px;
  position: relative;
}
@media screen and (min-width: 992px) {
  .popup-wrapper .popup-container {
    top: 20%;
  }
}
.popup-wrapper .popup-container .popup-close {
  position: absolute;
  width: 38px;
  height: 38px;
  right: 10px;
  top: -45px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.popup-wrapper .popup-container .popup-close:hover {
  opacity: 1;
}
@media screen and (min-width: 992px) {
  .popup-wrapper .popup-container .popup-close {
    opacity: 0.6;
    right: 20px;
    top: -50px;
  }
}
.popup-wrapper .popup-container .popup-close .popup-close-elem {
  top: 18px;
  left: 3px;
  display: inline-block;
  width: 32px;
  height: 3px;
  position: absolute;
  background-color: #ffffff;
  transform: rotate(135deg);
}
.popup-wrapper .popup-container .popup-close .a {
  transform: rotate(45deg);
}
.demo {
  *zoom: 1;
  text-align: center;
  background: #343f6a;
}
.demo:before,
.demo:after {
  content: "";
  display: table;
  border-spacing: 0;
}
.demo:after {
  clear: both;
}
.demo .demo-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}
.demo .demo-container h2 {
  color: rgba(255, 255, 255, 0.8);
}
.demo .demo-container p {
  padding: 0 20px;
}
.main-footer {
  background: #00001c;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding: 30px;
  text-align: center;
}
#button-demo {
  margin-top: 40px;
}
